#welcome-section{
	width: 100vw;
	height: 100vh;
	background: url('https://cdn.pixabay.com/photo/2018/07/05/23/31/ivy-3519431_960_720.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

